.btn{
    border: none;
    height: 3.5rem;
    border-radius: .8rem;

    &--primary{

        z-index: 1;
        background-color: $bright-blue;
        font-size: 1.1rem;
        font-weight: 700;
        color: $very-pale-blue;      
        max-width: 100%;
        box-shadow: -1px 22px 11px -1px rgba(51,41,224,0.15);
        -webkit-box-shadow: -1px 22px 11px -1px rgba(51,41,224,0.15);
        -moz-box-shadow: -1px 22px 11px -1px rgba(51,41,224,0.15);

        &:hover{
            cursor: pointer;
            background-color: $active;
            transition: all 200ms;
        }
    
        @include media-min-max-query(300px, 400px){
            font-size: 1.5rem;          
        }

        @include media-min-max-query(400px, 500px){
            font-size: 1.6rem;     
        }

        @include media-min(700px){
            font-size: 1.6rem;           
        }
    }

    &--secondary{
        background-color: $white;
        color: $desaturated-blue;
        font-weight: 900;
        font-size: 1.1rem; 

        &:hover{
            cursor: pointer;
            color: $dark-blue;
            transition: all 200ms;
        }

        @include media-min-max-query(300px, 400px){
            font-size: 1.4rem;          
        }

        @include media-min-max-query(400px, 500px){
            font-size: 1.5rem;
        }

        @include media-min(700px){
            font-size: 1.5rem;
        }

        
    }

    @include media-min(300px){
        height: 5rem;
        border-radius: 1rem;
    }

}