.card{
    box-shadow: -1px 11px 11px -1px rgba(122,122,122,0.22);
    -webkit-box-shadow: -1px 11px 11px -1px rgba(122,122,122,0.22);
    -moz-box-shadow: -1px 11px 11px -1px rgba(122,122,122,0.22);
    width: 25rem;
    border-radius: 1rem;
}