.card{
    background-color: $white;
    box-shadow: -1px 11px 20px -1px rgba(56,42,255,0.2);
    -webkit-box-shadow: -1px 11px 20px -1px rgba(56,42,255,0.1);
    -moz-box-shadow: -1px 11px 20px -1px rgba(56,42,255,0.22);
    width: 25rem;
    border-radius: 1rem;

    @include media-min-max-query(300px, 400px){
        width: 32rem;
        border-radius: 2rem;
    } 

    @include media-min(400px){
        border-radius: 2.5rem; 
    }

    @include media-min-max-query(400px, 700px){
        width: 35.5rem;    
    }

    @include media-min-max-query(700px, 1440px){
        width: 38rem;    
    }
    
    @include media-min(1440px){
        width: 45rem;      
    } 
}